<h1>Student show page</h1>

<h3><%= @student.name %></h3>
<p>Class of <%= @student.year %></p>
<p>Age: <%= @student.age %></p>
<p>Quote: <%= @student.quote %></p>

<h3>Classes</h3>
<ul>
    <% @student.student_teachers.each do |class_name| %>
        <li><%= class_name.name %> taught by <%= class_name.teacher.name %></li>
    <% end %>
</ul>

<%= button_to "Delete a student", student_path(@student.id), method: :delete %>
